{% extends "todo/base.html" %}

{% block title %}Список задач{% endblock %}

{% block content %}

    <main>
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ task.title }}</span>

                <div class="d-flex gap-2">
                    <a href="{% url 'todo:task_update' task.pk %}"
                       class="btn btn-sm btn-warning">
                        Редактировать
                    </a>
                    <a href="{% url 'todo:task_delete' task.pk %}"
                       class="btn btn-sm btn-danger">
                        Удалить
                    </a>
                </div>

            </li>
            {% empty %}
            <li class="list-group-item text-center">
                Пока нет задач!
            </li>
            {% endfor %}
        </ul>
    </main>

{% endblock %}