{% extends "todo/base.html" %}

{% block title %}Создание задачи{% endblock %}


{% block content %}
    <h1 class="my-4">Создание задачи</h1>

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback d-block">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="{% url 'todo:task_list' %}" class="btn btn-secondary" aria-label="Отменить создание">Отмена</a>
    </form>
{% endblock %}