{% extends "todo/base.html" %}

{% block title %}Редактирование задачи: {{ form.instance.title }}{% endblock %}

{% block content %}
    <h1 class="my-4">✏️ Редактировать задачу</h1>

    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div>
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <div class="mt-4">
            <button type="submit" class="btn btn-primary" aria-label="Сохранить изменения">Сохранить</button>
            <a href="{% url 'todo:task_list' %}" class="btn btn-secondary" aria-label="Отменить редактирование">Отмена</a>
        </div>
    </form>
{% endblock %}